@font-face {
	font-family: "Sazanami Gothic";
	src:url("font.ttf");
}

* {
    padding: 0;
    margin: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
    font-family: "Sazanami Gothic";
    color: #FFF;
  }

  .container {
    height: 100%;
    text-align: center;
  }

  .container-bg {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .moon-container {
  	position: relative;
  } 

  .moon-container > img {
  	margin: 30px 0;
  }

  .caption-over {
  	font-size: 50px;
    position: absolute;
    color: #FFF;
    top: 30%;
    left: 0;
    right: 0;
    width: 50px;
    margin: auto;
    text-shadow: 0px 0 6px #1874B7;
  }

  .moon-image {
  	margin: 30px 0;
  	width: 300px;
  	height: 300px;
  } 

  .main-question {
    font-size: 40px;
    text-shadow: 0px 0 10px #FFFF00; 
  }

  .answer {
  	font-size: 50px;
  	text-shadow: 0px 0 10px #FFFF00;
  }